/* Yahya Mawhoub */
body
{
    background-color: antiquewhite;
}

#contact h1, #contact h3
{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

#entrees
{
    margin-top: 100px;
}

.input
{
    margin-left: 650px;
    width: 600px;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px 10px;
    border-left: 3px solid blue;
    border-bottom: 3px solid blue;
    max-width: 600px;
    min-width: 600px;
}

button
{
    margin-left: 650px;
    width: 600px;
    padding: 10px 10px;
    font-size: 20px; 
    border: 2px solid rgb(88, 88, 235);
    margin-bottom: 275px;
}
button:active
{
    background-color: rgb(88, 88, 235);
}

button:hover
{
    cursor: pointer;
}